.impressions-container {
    position: relative;
    padding: 1.5rem;
    margin: 2rem auto;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    width: 90%;
    max-width: 1100px;
    height: 550px;
    min-height: 550px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.impressions-title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: start;
    margin-bottom: 1rem;
}

.lineSeparator {
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 5px;
}


.containerInformation {
    max-width: 450px;
}

.input-label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.inputPages {
    max-width: 50px;
}

.selection {
    max-width: 600px;
    margin-top: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    background-color: #f9fafb;
}

.selectionButton {
    background-color: #e5e7eb;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.selectionButton:hover {
    background-color: #f9fafb;
}

.toggle-group {
    display: flex;
    gap: 10px;
    background-color: #f3f4f6;
    border-radius: 6px;
}

.toggle-button {
    flex: 1;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
}

.toggle-button:hover {
    background-color: #e5e7eb;
}

.toggle-button.active {
    background-color: #f9fafb;
}

.information {
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    padding: 1rem;
    border-radius: 4px;
    background-color: #f3f4f6;
    margin-top: 1rem;
}

.impressions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.img {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 600px;
    background-image: url('../../img/rock.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    z-index: -1;
    opacity: 0.5;
}

.img::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(128, 128, 128, 0));
}

@media(max-width:800px) {
    .impressions-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 85%;
    }

    .lineSeparator {
        text-align: center;
        padding-bottom: 0;
        border-bottom: 1px solid #717171;
        width: 100%;
    }

    .img {
        right: 50%;
        transform: translateX(50%);
        width: 600px;
        height: 600px;
        opacity: 1;
    }

    .img::before,
    .img::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
    }

    .img::before {
        left: 0;
        background: linear-gradient(to right, rgb(255, 255, 255), rgba(128, 128, 128, 0));
    }

    .img::after {
        right: 0;
        background: linear-gradient(to left, rgb(255, 255, 255), rgba(128, 128, 128, 0));
    }
}